* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #73D2DE;
    height: 20vh;
    display: flex;
    align-items: center;
}

.img-logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-bar > h1 {
    font-size: 25px;
}

.links {
    display: flex;
    flex-direction: column;
    line-height: 2;
    width: 50%;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

a:visited {
    text-decoration: none;
    color: black;
}

main {
    background-color: #CBF3F0;
}

.footer {
    background-color: #73D2DE;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 450px) {

    .nav-bar {
        background-color: #73D2DE;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        color: black;
        padding-right: 15px;
    }
}