.cartpage {
    text-align: center;
}

.cartpage > h1 {
    padding: 20px;
    font-size: 50px;
}

.cartpage > p {
    padding: 30px;
}

.articlecontainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding: 16px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0FA3B1;
    transition: transform 0.2s ease-in-out;
  }

  .card img {
    border-radius: 4px;
}


.card p {
    margin-block: 8px;
    font-style: italic;
    font-weight: bold;
}

.card button {
    background-color: #FFBF69;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: black;
    padding: 15px;
    margin-block: 10px;
} 

.emptybasket {
    line-height: 2;
}
.emptybasket button {
    background-color: #FFBF69;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    padding: 15px;
    margin-block: 10px;
}

.total button {
    background-color: #FFBF69;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    padding: 15px;
    margin-block: 10px;
}